html,
body {
  height: 100%;
}

.main {
  flex-grow: 1;
}

body {
  font-size: 14px;
  line-height: 32px;
  @extend %dmsans-500;
  $main-color: #7b7b7b;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-min {
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 15px;
}