$title__footer-color: #1f2044;
$footerline-color:    #dae4e9;
$classic-color:         #ffff;
$adderss-color:       #b6b6b6;
$formbg-color:        #fff7f0;
$accent-color:        #ffee00;
$hover1-color:        #59666d;
$hover2-color:        #ebc8ab;
$icon1-color:         #edf1f4;
$icon2-color:         #fcd7b6;
$icon3-color:         #a3bbc8;
$link-color:          #436372;
$main-color:          #7b7b7b;

%rubik-400 {
  font-family: 'Rubik-Regular',
    sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: 'Rubik-Medium',
    sans-serif;
  font-weight: 500;
}

%dmsans-400 {
  font-family: 'DMSans-Regular',
    sans-serif;
  font-weight: 400;
}

%dmsans-500 {
  font-family: 'DMSans-Medium',
    sans-serif;
  font-weight: 500;
}

%dmsans-700 {
  font-family: 'DMSans-Bold',
    sans-serif;
  font-weight: 700;
}