$adderss-color:            #b6b6b6;
$accent-color:             #ffee00;
$border-color:             #e8e3df;
$button-bgcolor:           #fde3cc;
$button-color:             #77858b;
$classic-color:              #ffff;
$classic-black:            #000000;
$formbg-color:             #fff7f0;
$footerline-color:         #dae4e9;
$global-title-color:       #191919;
$hov-color:                #5f5f5f;
$hover1-color:             #59666d;
$hover2-color:             #ebc8ab;
$info-link-color:          #b3b7b5;
$icon1-color:              #edf1f4;
$icon2-color:              #fcd7b6;
$icon3-color:              #a3bbc8;
$infolbg-color:            #496876;
$linkkbg-color:            #a3bbc8;
$link-color:               #436372;
$inkb-color:               #919191;
$lampsbgi-color:           #fdeee1;
$main-color:               #7b7b7b;
$port-text-color:          #243f4d;
$title__footer-color:      #1f2044;
$top-slider-color:         #fff7f0;
$text-color:               #585858;
$tlcolor:                  #1a1a1a;

%rubik-400 {
  font-family: 'Rubik-Regular',
    sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: 'Rubik-Medium',
    sans-serif;
  font-weight: 500;
}

%dmsans-400 {
  font-family: 'DMSans-Regular',
    sans-serif;
  font-weight: 400;
}

%dmsans-500 {
  font-family: 'DMSans-Medium',
    sans-serif;
  font-weight: 500;
}

%dmsans-700 {
  font-family: 'DMSans-Bold',
    sans-serif;
  font-weight: 700;
}