@import 'vars';
@import 'fonts';
@import 'reset';
@import 'button';
@import 'global';
@import 'libs';

.header {
  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    align-items: center;
  }
}

.logo {
  display: flex;
  align-items: center;

  &__link {
    margin-right: 10px;
  }
}

.menu {
  &__list {
    display: flex;
    margin-left: 100px;
    // сделал марджин для перфект пикселя
  }

  &__list-item {
    font-weight: 500;
    font-size: 15px;
    line-height: 12px;
    @extend %rubik-500;
  }

  &__list-item+&__list-item {
    margin-left: 22px;
  }

  &__list-link {
    color: $link-color;

    &:hover {
      @extend %dmsans-700;
      color: $accent-color;
    }
  }
}

.user-nav {
  display: flex;
  align-items: center;

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 53px;
    height: 53px;
    border-radius: 50px;
    background-color: $icon1-color;

    &:hover {
      background-color: $accent-color;
      transform: scale(1.1);
      box-shadow: -1px 2px 16px 4px $classic-black;
    }
  }

  &__inner+&__inner {
    margin-left: 15px;
  }

  &__inner-center {
    justify-content: space-evenly;
    width: 180px;
    background-color: $icon2-color;
  }

  &__inner-dots {
    padding-top: 10px;
    background-color: icon3-color;
  }

  &__link {
    position: relative;
    padding-top: 5px;
    transition: transform .3s;
  }

  &__link--rotate:hover {
    transition: transform 1s ease-in-out;
    transform: rotate(1080deg);
  }

  &__link--increase:hover {
    transform: scale(1.5);

  }

  &__num {
    position: absolute;
    top: 0;
    right: -8px;
    border-radius: 50%;
    text-align: center;
    width: 16px;
    height: 16px;
    @extend %dmsans-400;
    font-size: 10px;
    line-height: 16px;
    color: #243f4d;
    background-color: $classic-color;
  }

}

.footer {
  padding: 80px 0 40px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 65px;

  &__item-pixel {
    margin-right: -100px;
  }

  &__title,
  &__logo {
    margin-bottom: 20px;
  }

  &__title {
    display: block;
    margin-top: 15px;
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    color: $title__footer-color;
  }

  &__tel {
    color: $adderss-color;
    text-transform: uppercase;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-style: normal;
  }


  &__list {
    padding: 0;
    margin: 0;
  }

  &__link,
  &__sub,
  &__wrapper,
  &__tel,
  &__email,
  &__address {
    @extend %rubik-400;
    font-size: 14px;
    line-height: 32px;
    color: $main-color;
  }

  &__address,
  &__sub {
    line-height: 24px;
  }

  &__sub {
    margin-bottom: 30px;
  }

  &__form {
    display: flex;
  }

  &__form-input {
    padding: 7px 0;
    max-width: 180px;
    width: 100%;
    border: transparent;
    background-color: $formbg-color;
  }

  &__form-btn {
    padding: 0 15px;
    border: transparent;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    cursor: pointer;
    outline: transparent;
    @extend %dmsans-400;
    color: $classic-color;
    background-color: $icon3-color;

    &:hover {
      box-shadow: -1px 2px 16px 4px $classic-black;
    }
  }

  &__form input {
    padding: 5px 20px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border: 0px;
    outline: transparent;

    &:hover {
      box-shadow: -1px 2px 16px 4px $hover2-color;
    }
  }

}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 6px;
  border-top: 1px solid $footerline-color;
  align-items: center;

  &__copy,
  &__link {
    @extend %rubik-400;
    font-size: 14px;
    line-height: 32px;
    color: $main-color;
  }

  &__list {
    display: flex;
  }

  &__item {
    position: relative;
  }

  &__item+&__item::before {
    content: '|';
    position: absolute;
    left: 0;
    color: #b6b6b6;
  }

  &__item+&__item {
    padding: 0 12px;
    margin-left: 8px;
  }

}

.top-slider {
  &__inner {
    background-color: $icon2-color;
    padding: 95px 0 25px;
  }

  &__item {
    position: relative;
    padding-left: 20px;
    display: flex !important;
    justify-content: center;
    align-items: center;
  }

  &__content {
    margin: 0 125px 100px 75px;
  }

  &__title {
    margin-bottom: 35px;
    max-width: 420px;
    width: 100%;
    @extend %rubik-500;
    font-size: 72px;
    line-height: 70px;
    text-transform: uppercase;
    color: #243f4d;
  }

  &__text {
    margin-bottom: 35px;
    max-width: 350px;
    width: 100%;
    @extend %rubik-400;
    font-size: 18px;
    line-height: 30px;
    color: $link-color;
  }
}

.slick-dots {
  display: flex;
  justify-content: center;

  li {
    list-style: none;

    button {
      padding: 18px 15px;
      margin-right: 15px;
      border: transparent;
      border-radius: 50%;
      cursor: pointer;
      line-height: 0;
      outline: none;
      color: $button-color;
      background-color: $button-bgcolor;

      &:hover {
        box-shadow: -1px 2px 16px 4px $classic-black;
        color: $accent-color;
        background-color: $classic-black;
      }
    }
  }
}

.top-slider__descr {
  display: flex;
  justify-content: space-evenly;
  background-color: $top-slider-color;

  &-items {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 565px;
    min-height: 170px;
    width: 100%;
  }

  &-items+&-items {
    border-left: 1px solid $border-color;
  }

  &-item {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    max-width: 220px;
    width: 100%;
  }

  &-title {
    @extend %dmsans-700;
    font-size: 18px;
    line-height: 40px;
    color: #414141;
  }

  &-text {
    @extend %dmsans-400;
    font-size: 16px;
    line-height: 30px;
    color: $text-color;
  }

  &-text span {
    display: block;
  }
}

.portfolio {
  padding: 65px 0 90px;

  &__inner {
    text-align: center;
  }
}

.porfolio__gallery {
  display: grid;
  grid-template-columns: 270px 270px 270px 270px;
  grid-gap: 40px;

  &-items {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 35px;
    min-height: 380px;
    height: 100%;
    box-shadow: -1px 2px 16px 4px $icon3-color;

    p {
      @extend %dmsans-700;
      font-size: 16px;
      line-height: 40px;
      color: $port-text-color;
    }
  }

  &-items:hover {
    transition: 1s;
    background-color: $adderss-color;
    box-shadow: -1px 2px 16px 4px classic-black;
  }

  &-items:hover p {
    transition: 1s;
    color: $classic-color;
  }

  &-items:hover .porfolio__gallery-num {
    transition: 1s;
    color: classic-black;
  }

  &-img {
    margin: auto;
  }

  &-num {
    margin-top: -10px;
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 40px;
    color: $icon3-color;
  }

  &-nav {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-items:hover &-link {
    display: block;
  }

  &-link {
    display: none;
    padding: 5px 10px 0 10px;
    margin-left: 20px;
    border-radius: 50%;
    background-color: $classic-color;

    &:hover {
      transform: scale(1.5);
      fill: classic-color;
      transition: 1s;
      box-shadow: -1px 2px 16px 4px $classic-black;
      background-color: $classic-black;
    }
  }
}

.lamps {
  padding: 190px 0 100px 0;

  &__wrapper {
    display: grid;
    grid-template-columns: 870px 870px;
    grid-gap: 30px;
  }

  &__items {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 40px 0 80px 50px;
    max-height: 390px;
    height: 100%;
    background-color: $lampsbgi-color;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 350px;
    margin-left: 50px;
    height: 100%;
  }

  &__title {
    @extend %dmsans-700;
    font-size: 26px;
    line-height: 32px;
    color: #243f4d;
  }

  &__subtitle {
    @extend %rubik-400;
    font-size: 16px;
    line-height: 30px;
    color: $port-text-color;
  }

  &__title {
    margin-top: 40px;
    margin-bottom: 10px;
  }

  &__subtitle,
  &__link {
    margin-bottom: 20px;
  }

  &__info-link {
    border: 1px solid $info-link-color;
    @extend %rubik-500;
    font-size: 15px;
    line-height: 12px;
    color: $infolbg-color;
    background-color: transparent;
    
    &:hover {
      color: $title__footer-color;
      background-color: $adderss-color;
    }

    &::after {
      content: url('../images/arrow2.svg');
      padding-left: 55px;
      width: 22px;
      height: 9px;
      color: $classic-black;
    }
  }
}