@import 'vars';
@import 'fonts';
@import 'reset';
@import 'button';
@import 'global';
@import 'libs';

.header {
  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    align-items: center;
  }
}

.logo {
  display: flex;
  align-items: center;

  &__link {
    margin-right: 10px;
  }
}

.menu {
  &__list {
    display: flex;
    margin-left: 100px;
    // сделал марджин для перфект пикселя
  }

  &__list-item {
    font-weight: 500;
    font-size: 15px;
    line-height: 12px;
    @extend %rubik-500;
  }

  &__list-item+&__list-item {
    margin-left: 22px;
  }

  &__list-link {
    color: $link-color;

    &:hover {
      @extend %dmsans-700;
      color: $accent-color;
    }
  }
}

.user-nav {
  display: flex;
  align-items: center;

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 53px;
    height: 53px;
    border-radius: 50px;
    background-color: $icon1-color;

    &:hover {
      background-color: $accent-color;
      transform: scale(1.1);
      box-shadow: 0 0 15px 3px $hover1-color;
    }
  }

  &__inner+&__inner {
    margin-left: 15px;
  }

  &__inner-center {
    justify-content: space-evenly;
    width: 180px;
    background-color: $icon2-color;
  }

  &__inner-dots {
    background-color: icon3-color;
  }

  &__link {
    position: relative;
    transition: transform .3s;
  }

  &__link--rotate:hover {
    transition: transform 1s ease-in-out;
    transform: rotate(1080deg);
  }

  &__link--increase:hover {
    transform: scale(1.5);
  }

  &__num {
    position: absolute;
    top: -9px;
    right: -8px;
    border-radius: 50%;
    text-align: center;
    width: 16px;
    height: 16px;
    @extend %dmsans-400;
    font-size: 10px;
    line-height: 16px;
    color: #243f4d;
    background-color: $classic-color;
  }

}

.footer {
  padding: 80px 0 40px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 65px;

  &__item-pixel {
    margin-right: -100px;
  }

  &__title,
  &__logo {
    margin-bottom: 20px;
  }

  &__title {
    display: block;
    margin-top: 15px;
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    color: $title__footer-color;
  }

  &__tel {
    color: $adderss-color;
    text-transform: uppercase;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-style: normal;
  }


  &__list {
    padding: 0;
    margin: 0;
  }

  &__link,
  &__sub,
  &__wrapper,
  &__tel,
  &__email,
  &__address {
    @extend %rubik-400;
    font-size: 14px;
    line-height: 32px;
    color: $main-color;
  }

  &__address,
  &__sub {
    line-height: 24px;
  }

  &__sub {
    margin-bottom: 30px;
  }

  &__form {
    display: flex;
  }

  &__form-input {
    padding: 7px 0;
    border: transparent;
    background-color: $formbg-color;
    max-width: 180px;
    width: 100%;
  }

  &__form-btn {
    padding: 0 15px;
    border: transparent;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    cursor: pointer;
    @extend %dmsans-400;
    color: $classic-color;
    background-color: $icon3-color;
    outline: transparent;

    &:hover {
      box-shadow: 3px 2px 16px 4px $hover1-color;
    }
  }

  &__form input {
    padding: 5px 20px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border: 0px;
    outline: transparent;

    &:hover {
      box-shadow: -1px 2px 16px 4px $hover2-color;
    }
  }

}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid $footerline-color;
  padding-top: 6px;

  &__copy,
  &__link {
    @extend %rubik-400;
    font-size: 14px;
    line-height: 32px;
    color: $main-color;
  }

  &__list {
    display: flex;
  }

  &__item {
    position: relative;
  }

  &__item+&__item::before {
    content: '|';
    position: absolute;
    left: 0;
    color: #b6b6b6;
  }

  &__item+&__item {
    padding: 0 12px;
    margin-left: 8px;
  }

}

@import 'media';